.viewport {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	background-color: #555;
}

.nav {
	position: initial;
	display: flex;
	width: 100%;
	height: 80px;
	background-color: #efefef;
	z-index: 1000;
}

@keyframes navMinimize {
	0%{
		height: 80px;
	}
	100%{
		height: 50px;
	}
}

@keyframes navMaximize {
	from{
		height: 50px;
	}
	to{
		height: 80px;
	}
}

.nav-child {
	width: 50%;
	height: 100%;
}

.nav-child ul li {
	cursor: pointer;
	font-size: x-large;
	user-select: none;
}

.nav-link-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-link-list ul {
	width: 100%;
	height: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}

.contact-list {
	display: flex;
	justify-content: end;
	align-items: center;
}

.contact-list ul {
	width: 50%;
	height: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}

.first-article {
	background-color: #222;
}

.cover-proyect-container {
	width: 100%;
	height: 700px;
	user-select: none;
}

.cover-proyect-background {
	position: absolute;
	width: inherit;
	height: inherit;
	object-fit: cover;
	object-position: center;
	filter: brightness(0.5);
}

.cover-proyect {
	width: inherit;
	height: inherit;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center
}

.cover-proyect-img {
	width: 400px;
	filter:brightness(0.8);
}

.cover-proyect-img-1{
	animation-name: coverProyectImg1;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes coverProyectImg1 {
	from {
		transform: translate(0,0);
	}
	to {
		transform: translate(-20px,-20px);
	}
}

.cover-proyect-img-2 {
	width: 300px;
	margin-left: 25px;
}

.cover-proyect-title-container {
	width: 100%;
	height: 20px;
	background-color: #ef2;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 9px 9px;
}

.cover-proyect-title {
	background-color: #ef2;
	width: 50%;
	height: 60px;
	position: absolute;
	text-align: center;
	font-size: 20px;
	transform: translate(0,-1000px);
	z-index: 100;
	display: flex;
	align-items: center;
}

@keyframes coverTitleFall {
	from {
		transform: translate(0,-1000px);
	}
	to {
		transform: translate(0,-40px);
	}
}

.cover-proyect-title h1 {
	margin: auto;
}

.about-proyect-container {
	width: 100%;
	margin-top: 100px;
}

.about-proyect-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #f1f1f1;
	text-align: center;
}

.about-proyect-text-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-proyect-text {
	width: 90%;
	text-align: center;
	color: #bbb;
	font-size: 25px;
	opacity: 0;
}

@keyframes aboutProyectTextOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.characters-display-container {
	width: 100%;
	display: flex;
	align-items: top;
	margin-top: 80px;
}

.characters-containers {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
}

.characters-display {
	width: 60%;
	height: 80%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 150px 1fr 40px;
}
.characters-2-display {
	transform: translate(1000px,0);
}

@keyframes characterPlate2 {
	from {
		transform: translate(1000px,0);
	}
	to {
		transform: translate(0,0);
	}
}

.characters-1-display {
	transform: translate(-1000px,0);
}

@keyframes characterPlate1 {
	from {
		transform: translate(-1000px,0);
	}
	to {
		transform: translate(0,0);
	}
}

.characters-img {
	width: 100%;
	background-color: #dfdfdf;
	border-radius: 9px 9px 0 0;
}

.characters-img img {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.characters-text {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #ef2;
}

.characters-text div {
	width: 100%;
}

.characters-text-2 {
	display: none;
	margin: 0;
	background-color: #1f1f1f;
	color: #fff;
}

.characters-text-2-p {
	margin: 20px;
}

.characters-button {
	cursor: pointer;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 9px 9px;
	background-color: #ef2
}

.characters-button-img {
	width: 25px;
	margin-left: 20px;
}

@keyframes ImgRotate{
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(180deg);
	}
}

@keyframes ImgRotate2{
	from {
		transform: rotate(-180deg);
	}
	to {
		transform: rotate(0);
	}
}

.second-article {
	background-color: #999;
	height: 4000px;
}

.ediciones-init-container {
	width: 100%;
	height: 700px;
	background: #dfef1f
}