html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

#body {
	overflow-x: hidden;
}

.viewport {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	background-color: #555;
}

.nav {
	position: initial;
	display: flex;
	width: 100%;
	height: 80px;
	background-color: #efefef;
	z-index: 1000;
}

@keyframes navMinimize {
	0%{
		height: 80px;
	}
	100%{
		height: 50px;
	}
}

@keyframes navMaximize {
	from{
		height: 50px;
	}
	to{
		height: 80px;
	}
}

.nav-child {
	width: 50%;
	height: 100%;
}

.nav-links {
	cursor: pointer;
	font-size: x-large;
	user-select: none;
}

.nav-links-a {
	text-decoration: none;
	color: inherit;
}

.nav-links-a:hover {
	text-shadow: 2px 2px 10px #fff;
}

.nav-link-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-link-list ul {
	width: 100%;
	height: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}

.contact-list {
	display: flex;
	justify-content: end;
	align-items: center;
}

.contact-list ul {
	width: 50%;
	height: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav-responsive-menu-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	background: #0009;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	z-index: 900;
}

.nav-responsive-links {
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	text-shadow: 2px 0 15px #fff;
}

.nav-responsive-img-container {
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
}

#nav-responsive-img {
	height: 80%;
}

.nav-responsive-button-container {
	position: absolute;
	height: inherit;
	width: inherit;
	display: none;
	justify-content: start;
	align-items: center;
}

#nav-responsive-button {
	height: 56%;
	width: auto;
	margin-left: 20px;
	z-index: 1000;
}

#first-article {
	background-color: #222;
}

.cover-proyect-container {
	width: 100%;
	height: 100vh;
	user-select: none;
}

.cover-proyect-background {
	position: absolute;
	width: inherit;
	height: inherit;
	object-fit: cover;
	object-position: center;
	filter: brightness(0.5);
}

.cover-proyect {
	width: inherit;
	height: inherit;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center
}

.cover-proyect-img {
	width: 400px;
	filter:brightness(0.8);
}

.cover-proyect-img-1{
	animation-name: coverProyectImg1;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes coverProyectImg1 {
	from {
		transform: translate(0,0);
	}
	to {
		transform: translate(-20px,-20px);
	}
}

.cover-proyect-img-2 {
	width: 300px;
	margin-left: 25px;
}

.cover-proyect-title-container {
	width: 100%;
	height: 20px;
	background-color: #ef2;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 9px 9px;
}

.cover-proyect-title {
	background-color: #ef2;
	position: absolute;
	text-align: center;
	font-size: 20px;
	transform: translate(0,-1000px);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 13px;
	opacity: 0;
}

@keyframes coverTitleFall {
	from {
		opacity: 0;
		transform: translate(0,-1000px);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}

.cover-proyect-title h1 {
	margin: 15px;
}

.about-proyect-container {
	width: 100%;
	margin-top: 100px;
}

.about-proyect-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #f1f1f1;
	text-align: center;
}

.about-proyect-text-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-proyect-text {
	width: 90%;
	text-align: center;
	color: #bbb;
	font-size: 25px;
	opacity: 0;
}

@keyframes aboutProyectTextOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.characters-display-container {
	width: 100%;
	display: flex;
	align-items: top;
	margin-top: 80px;
}

.characters-containers {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
}

.characters-display {
	width: 60%;
	height: 80%;
	display: grid;
	opacity: 0;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr 40px;
}
.characters-2-display {
	transform: translate(1000px,0);
	display: none;
}

@keyframes characterPlate2 {
	from {
		display: none;
		transform: translate(1000px,0);
		opacity: 0;
	}
	to {
		display: flex;
		transform: translate(0,0);
		opacity: 1;
	}
}

.characters-1-display {
	transform: translate(-1000px,0);
}

@keyframes characterPlate1 {
	from {
		transform: translate(-1000px,0);
		opacity: 0;
	}
	to {
		transform: translate(0,0);
		opacity: 1;
	}
}

.characters-img {
	width: 100%;
	background-color: #dfdfdf;
	border-radius: 9px 9px 0 0;
}

.characters-img img {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.characters-text {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #ef2;
}

.characters-text div {
	width: 100%;
}

.characters-text-2 {
	display: none;
	margin: 0;
	background-color: #1f1f1f;
	color: #fff;
}

.characters-text-2-p {
	margin: 20px;
}

.characters-button {
	cursor: pointer;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 9px 9px;
	background-color: #ef2
}

.characters-button-img {
	width: 25px;
	margin-left: 20px;
}

@keyframes ImgRotate{
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(180deg);
	}
}

@keyframes ImgRotate2{
	from {
		transform: rotate(-180deg);
	}
	to {
		transform: rotate(0);
	}
}

#second-article {
	background-color: #999;
}

#muñeco-pesao {
	position: fixed;
	top: 110px;
	z-index: 600;
	width: 100px;
	opacity: 0;
	display: none;
	transform: translate(-1000px,0);
}

@keyframes muñecoPesaoDisplay {
	0% {
	transform: translate(-1000px,0);
	}
	100% {
		transform: translate(-18px,0);
	}
}

@keyframes muñecoPesaoHide {
	0% {
		transform: translate(-18px,0);
	}
	100% {
		transform: translate(-1000px,0);
	}
}

.muñeco-pesao-img {
	width: 100%;
}

#muñeco-pesao-diálogo {
	position: fixed;
	top: 65px;
	z-index: 600;
	width: 140px;
	height: 70px;
	opacity: 0;
	display: none;
	background-color: #aa0000;
	clip-path: polygon(36% 0, 63% 0, 100% 0, 100% 58%, 100% 82%, 14% 83%, 0 90%, 9% 73%, 9% 35%, 9% 0);
	border-radius: 13px;
	text-align: center;
	color: #fff;
	font-weight: 800;
	transform: translate(90px,0)
}

#muñeco-pesao-diálogo p {
	transform: translate(5px, -5px);
}

@keyframes muñecoPesaoDiálogoDisplay {
	0% {
		transform: translate(-1000px,0)
	}
	100% {
		transform: translate(90px,0)
	}
	
}

@keyframes muñecoPesaoDiálogoHide {
	0% {
		transform: translate(90px,0)
	}
	100% {
		transform: translate(-1000px,0)
	}
	
}

.ediciones-container {
	width: 100%;
	background: #dfef1f
}

.ediciones-bar-introduction {
	width: 100%;
	height: 25px;
	background: #222;
	border-radius: 0 0 25px 25px;
}

.ediciones-plate-general-container{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.ediciones-plate-container {
	width: 100%;
	margin: 80px 0 80px 0;
}

.edición-plate {
	display: flex;
	margin: 10px 0 10px 0;
	width: 100%;
	height: 500px;
}

.edición-plate:first-child {
	margin-top: 0;
}

.edición-plate:last-child {
	margin-bottom: 0;
}

.edición-plate-1 {
	width: 30%;
	height: 100%;
}

.edición-plate-1-1{
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.edición-plate-1-1-img-container {
	height: 80%;
}

.edición-plate-1-1-img {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	box-shadow: 0;
	opacity: 1;
	transform: translate(-1000px,0);
}

@keyframes edicionesPlateImgDisplay {
	from {
		transform: translate(-500px,0);
	}
	to {
		transform: translate(0,0);
		box-shadow: 11px 11px #1f1f1f;
	}
}

.edición-plate-1-2{
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px
}

.edición-plate-1-2-border {
	height: 80px;
	width: 7px;
	background-color: #1f1f1f;
	transform: translate(-500px,0);
}

@keyframes edicionesPlateTextDisplay {
	from {
		transform: translate(-500px,0);
		opacity: 0;
	}
	to {
		transform: translate(0);
		opacity: 1;
	}
}

.edición-plate-1-2-text {
	padding: 15px;
	color: #1f1f1f
}

.edición-plate-2 {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.edición-plate-2-1{
	width: 90%;
	min-height: 80%;
	background-color: #1f1f1f;
	border-radius: 20px 0 0 20px;
	justify-content: center;
	align-items: center;
	color: #efefef;
	display: none;
	transform: translate(1000px,0);
}

@keyframes ediciónPlateDisplay {
	from {
		display: flex;
		transform: translate(1000px,0);
	}
	to {
		display: flex;
		transform: translate(0);
	}
}

.edición-plate-2-1-text {
	width: 80%;
}

.edición-plate-2-1-text p {
	font-size: 25px;
}

#third-article {
	width: 100%;
	background-color: #888;
}

.galería-introduction-container {
	width: 100%;
	height: 300px;
	background: #dfef1f;
}

.galería-introduction-title {
	position: absolute;
	width: inherit;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 45px;
	color: #1f1f1f;
}

.galería-introduction-title-h2 {
	margin: 0;
	letter-spacing: 0;
}

@keyframes galeríaIntroductionTitle {
	0% {
		letter-spacing: 0;
	}
	100% {
		letter-spacing: 10px;
	}
}

.galería-introduction {
	width: inherit;
	height: inherit;
	background: #1f1f1f;
	clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 100%, 0 100%);
	font-size: 40px;
}

.galería-container {
	width: 100%;
	background: #1f1f1f;
	display: flex;
	justify-content: center;
	align-items: center;
}

.galería {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 400px 400px 400px 400px 400px;
	grid-gap: 30px;
	grid-auto-flow: dense;
	justify-content: center;
	box-sizing: border-box;
	padding: 40px;
	border-radius: 30px;
	border: 3px solid #ef2;
}

.galería-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 19px;
	box-sizing: border-box;
}

.galería-img:hover {
	border-right: 6px solid #ef2;
	border-bottom: 6px solid #ef2;
	transition: 0.3s;
	cursor: pointer;
}

.galería-img:first-child {
	grid-row: 5/6;
	grid-column: 3/5;
}

.galería-img:nth-child(2) {
	grid-row: 1/2;
}

.galería-img:nth-child(6){
	grid-column: 1/2;
	grid-row: 1/2;
}

.galería-img:nth-child(7){
	grid-column: 1/3;
	grid-row: 3/5;
}

.galería-img:nth-child(8){
	grid-column: 3/5;
	grid-row: 1/2;
}

.galería-img:nth-child(15) {
	grid-row: 1/2;
	grid-column: 1/2;
}

.galería-bottom-separator {
	width: 100%;
	height: 150px;
	background-color: #1f1f1f;
}

#fourth-article {
	width: 100%;
	background-color: #888;
}

.compras-button-fake-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	background: #2225;
	display: none;
	justify-content: center;
	align-items: center;
}

.compras-button-fake {
	width: 40%;
	height: 300px;
	background-color: #222;
	position: fixed;
	border-radius: 15px;
	border: 4px solid #ef2;
}

.compras-button-fake-quit-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.compras-button-fake-quit {
	width: 30px;
	height: 30px;
	margin: 10px;
	border-radius: 50%;
	padding: 5px;
	filter: invert();
}

.compras-button-fake-quit:hover {
	cursor: pointer;
	filter:invert(0);
	background-color: #ef2;
}

.compras-button-fake-quit img {
	width: 100%;
}

@keyframes quitHover {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(180deg);
	}
}

@keyframes quitOut {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0);

	}
}

.compras-button-fake-text-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.compras-button-fake-text {
	font-size: 30px;
	color: #ff0000;
	margin: 15px 15px;
	text-align: center;
}

.compras-container {
	width: 100%;
	background: #dfef1f;
}

.compras-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	color: #1f1f1f;
	text-align: center;
}

.compras-title-h2 {
	letter-spacing: 2px;
	font-weight: 300px;
	margin: 120px;
}

.compras-content {
	width: 100%;
}

.compras-plates-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

.compras-plates {
	width: 450px;
	background: #1f1f1f;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	border-radius: 13px;
	box-sizing: border-box;
	padding: 40px;
	box-shadow: 0px 0px 15px #000;
	box-sizing: border-box;
	margin: 50px;
}

.compras-plates-img {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.compras-plates-img img {
	width: 70%;
	padding: 10px;
	border-top: 2px solid #ef2;
	border-bottom: 2px solid #ef2;
	border-radius: 13px;
}

.compras-plates-text {
	font-size: 20px;
	color: #efefef;
	padding: 20px 5px;
	text-align: center;
}


.compras-plates-button {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.compras-plates-button-a {
	padding: 20px 50px;
	text-decoration: none;
	background: linear-gradient(#d11d1d, #aa0000);
	color: #333;
	border-radius: 15px;
	border: 2px solid #ef2;
	user-select: none;
}

.compras-plates-button-a:hover {
	background: linear-gradient(#aa0000, #d11d1d);
	cursor: pointer;
}

.compras-bottom-separator {
	width: 100%;
	height: 200px;
	background: none;
}

#fifth-article {
	width: 100%;
	background-color: #888
}

.whoami-container {
	width: 100%;
	background-color: #1f1f1f;
	display: flex;
	justify-content: center;
	align-items: center;
}

.whoami {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: #dfdfdf;
	margin: 120px 0;
}

.whoami-text {
	margin: 50px 0;
}

.whoami-h2 {
	font-size: 5em;
	letter-spacing: 20px;
	opacity: 0;
}

.whoami-p {
	color: #bbb;
	font-size: 25px;
	opacity: 0;
}

@keyframes whoamiH2Appear {
	0% {
		opacity: 0;
		letter-spacing: 20px;
	}
	100% {
		opacity: 1;
		letter-spacing: 0;
	}
}

@keyframes whoamiTextAppear {
	0% {
		opacity: 0;
	}
	100% {
		opacity:1;
	}
}

#footer {
	width: 100%;
	background-color: #888;
	color: #1f1f1f;
}

.footer-content-container {
	width: 100%;
	background: #1f1f1f;
	border-top: 5px solid #ef2;
	display: flex;
	justify-content: center;
}

.footer-content {
	background-color: #ef2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.footer-content-children {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px;
}

.footer-content-children h4 {
	margin: 0;
}

.footer-content-children a {
	color: #1f1f1f;
}

@media only screen and (min-width: 1600px) {
	.nav {
		height: 100px;
	}
	.nav-links {
		font-size: 40px;
	}
	@keyframes navMinimize {
		0% {
			height: 100px;
		}
		100% {
			height: 70px;
		}
	}
	@keyframes navMaximize {
		0% {
			height: 70px;
		}
		100% {
			height: 100px;
		}
	}
	.cover-proyect-title{
		font-size: 25px;
	}
	.about-proyect-title {
		font-size: 45px;
	}
	.about-proyect-text {
		font-size: 35px;
	}
	.characters-text {
		font-size: 25px;
	}
	.characters-button {
		font-size: 20px;
	}
	.edición-plate-1-1-img {
		width: 100%;
	}
	.edición-plate-2-1-text p {
		font-size: 35px;
	}
	.whoami-p {
		font-size: 35px;
	}
}

@media only screen and (max-width: 946px) {
	.characters-display {
		width: 80%;
	}
	.galería {
		width: 100%;
	}
	.compras-button-fake {
		width: 60%;
	}
	.nav-links {
		font-size: 27px;
	}
	.nav-link-list {
		width: 70%;
	}
	.contact-list {
		width: 40%;
	}
	.contact-list ul {
		width: 100%;
	}
	#muñeco-pesao {
		top: 160px;
	}
	#muñeco-pesao-diálogo {
		top: 115px;
	}
}

@media only screen and (max-width: 912px) {
	.edición-plate {
		flex-direction: column;
		height: auto;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		margin: 100px 0;
	}
	.edición-plate-1 {
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.edición-plate-1-1-img-container {
		width: 50%;
	}
	.edición-plate-2 {
		justify-content: center;
	}
	.edición-plate-2-1 {
		border-radius: 20px;
		text-align: center;
	}
}

@media only screen and (max-width: 810px) {
	.nav {
		height: 120px;
	}
	@keyframes navMinimize {
		0%{
			height: 120px;
		}
		100%{
			height: 100px;
		}
	}
	
	@keyframes navMaximize {
		from{
			height: 100px;
		}
		to{
			height: 120px;
		}
	}
}

@media only screen and (max-width: 820px) {
	.about-proyect-title {
		font-size: 25px;
	}
	.about-proyect-text {
		width: 95%;
		font-size: 23px;
	}
	.characters-display-container {
		flex-direction: column;
		align-items: center;
	}
	.characters-containers {
		width: 80%;
	}
	.characters-display {
		width: 100%;
		grid-template-rows: 300px 1fr 70px;
		font-size: 20px;
	}
	.galería {
		grid-template-columns: 1fr 1fr;
	}
	.galería-img:first-child {
		grid-row: auto;
		grid-column: auto;
	}
	
	.galería-img:nth-child(2) {
		grid-row: auto;
	}
	
	.galería-img:nth-child(6){
		grid-column: auto;
		grid-row: auto;
	}
	
	.galería-img:nth-child(7){
		grid-column: auto;
		grid-row: auto;
	}
	
	.galería-img:nth-child(8){
		grid-column: auto;
		grid-row: auto;
	}
	
	.galería-img:nth-child(15) {
		grid-row: auto;
		grid-column: auto;
	}
}

@media only screen and (max-width: 772px) {
	.cover-proyect-img-1 {
		width: 90%;
	}
	.cover-proyect-img-2 {
		display: none;
	}
	.edición-plate-1-1-img-container {
		width: 70%;
	}
	.edición-plate-2 {
		width: 100%;
	}
	.edición-plate-2-1 {
		width: 100%;
		border-radius: 0;
	}
	.compras-title-h2 {
		width: 80%;
		font-size: 40px;
	}
	.compras-button-fake {
		width: 80%;
	}
}

@media only screen and  (max-width: 726px) {
	.nav-child {
		display: none;
	}
	.nav-responsive-img-container {
		display: flex;
	}
	.nav-responsive-button-container {
		display: flex;
	}
	.edición-plate-1-1-img-container {
		width: 230px;
	}
	.compras-title-h2 {
		margin: 80px;
	}
	.whoami {
		width: 100%;
	}
}

@media only screen and (max-width: 580px) {
	.characters-containers {
		width: 100%;
	}
	.characters-display {
		width: 100%;
	}
	.characters-text-2 {
		text-align: start;
	}
	.galería-introduction {
		clip-path:polygon(0 30%,  50% 50%, 100% 30%, 100% 100%, 0 100%);
	}
	.galería {
		grid-template-columns: 1fr;
	}
	.edición-plate-1 {
		width: 100%;
	}
	.compras-title-h2 {
		margin: 80px 20px;
		width: 100%;
	}
	.whoami-h2 {
		font-size: 4em;
	}
}

@media only screen and (max-width: 542px) {
	.edición-plate-2-1-text {
		width: 100%;
	}
	.compras-plates {
		width: 100%;
		margin: 50px 0;
		padding: 40px 10px;
	}
}

@media only screen and (max-width: 370px) {
	.nav-responsive-img-container {
		display: none;
	}
}

@media only screen and (min-height: 800px) {
	.nav-links {
		font-size: 27px;
	}
	.nav-link-list {
		width: 70%;
	}
	.contact-list {
		width: 40%;
	}
	.contact-list ul {
		width: 100%;
	}
	#muñeco-pesao {
		top: 160px;
	}
	#muñeco-pesao-diálogo {
		top: 115px;
	}
}

@media only screen and (min-height: 1000px) {
	.nav {
		height: 120px;
	}
	@keyframes navMinimize {
		0% {
			height: 120;
		}
		100% {
			height: 100px;
		}
	}
	@keyframes navMaximize {
		0% {
			height: 100px;
		}
		100% {
			height: 120px;
		}
	}
}